
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #f9f9f9;
}
.currentImage{
    max-width: 100%;
    margin: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    /* background-color: crimson; */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
}



.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 18px;
    /* background-color: bisque; */
}

.progress-bar {
    position: relative;
    width: 958px;
    height: 100%;
    background-color: #e5e5e5;
    overflow: hidden;
    border-radius: 10px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #58CC02;
    border-radius: 16px;
    transition: 0.6s;
}

.close-button {
    cursor: pointer;
    width: 18px;
    height: 18px;
    /* background-color: chartreuse; */
}

.close-button img {
    width: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    width: 600px;
    height: 450px;
    /* background-color: chartreuse; */
}

.board-header {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}

.target-lang-container {
    display: flex;
    align-items: center;
    height: 167px;
    width: 100%;
    /* background-color: coral; */
}

.target-lang-container img {
    height: 100%;
}

.speech-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 254px;
    min-height: 67px;
    /* background-color: crimson; */
    border-radius: 10px;
    border: 3px #e5e5e5 solid;
}

.speech-bubble:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid#E5E5E5;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 25px;
    left: -23px;
}

.speech-bubble:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 25px;
    left: -17px;
}

.sent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 39px;
    /* background-color: coral; */
}

.sent-container img {
    cursor: pointer;
    width: 29px;
    margin-right: 10px;
}

.space {
    margin-right: 4px;
}

.word-item {
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid grey;
    border-style: dashed;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 5px;
}

.highlighted {
    color: orange;
    border-bottom: 2px solid orange;
    border-style: dashed;
    border-top: none;
    border-right: none;
    border-left: none;
}

.answer-field {
    width: 100%;
    min-height: 72px;
    /* background-color: cornflowerblue; */
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    padding: 5px;
}

.random-words-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 52px;
    /* background-color: burlywood; */
    padding: 20px;
}

.word {
    cursor: pointer;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    /* margin-bottom: 5px; */
    /* background-color: transparent; */
    outline: none;
    font-size: 16px;
    border: none;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.added {
    cursor: pointer;
    padding: 10px;
    margin-right: 15px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.199);
    /* margin-bottom: 5px; */
    /* background-color: transparent; */
    outline: none;
    animation-name: appear;
    animation-duration: 0.3s;
    font-size: 16px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffeb3b;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.199);
    outline: none;
    font-size: 16px;
}

.word-answer {
    border: 2px solid #e5e5e5;
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.draggable-letter {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    margin-top: 40 px;
}

.placeholder {
    border: 1px solid #000;
    /* Adicione uma borda para melhorar a visibilidade */
}

.win-footer .footer-items-container .item,
.lose-footer .footer-items-container .item {
    display: flex;
    flex-direction: column;
}

.win-footer .footer-items-container .item .motivational-word,
.lose-footer .footer-items-container .item .motivational-word {
    font-size: 20px;
    color: #58a700;
    font-weight: bold;
}

.win-footer .footer-items-container .item .report,
.lose-footer .footer-items-container .item .report {
    margin-top: 10px;
    color: #58a700;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.desc-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 3px;
    /* background-color: #58cc02; */
}

.sign-container {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.sign-container img {
    width: 100%;
}

.footer-items-container .item {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.footer-items-container .item.left {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
}

.footer-items-container .item.right {
    display: flex;
    justify-self: flex-end;
}

.footer-items-container .item.center span {
    border: none;
    padding: 0;
    margin-left: 10px;
    text-transform: uppercase;
}

.footer-items-container .item button {
    position: relative;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    font-weight: 700;
    font-size: 19px;
    color: #ffffff;
    padding: 10px 40px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.footer-items-container.item.motinational-word {
    color: #58a700;
    font-size: 24px;
}

.enabled-check-button {
    position: relative;
    background-color: #58cc02;
    color: white !important;
    border: 1px solid #61b800 !important;
    border-bottom: 4px solid #61b800 !important;
    overflow: hidden;
}

.continue-button,
.continue-button-fail {
    position: relative;
    background-color: #58cc02;
    color: white !important;
    border: 1px solid #61b800 !important;
    border-bottom: 4px solid #61b800 !important;
    overflow: hidden;
}

.disabledCheckButton {
    background-color: #e5e5e5;
}

#imageContainer {
    text-align: center;
    margin-top: 10px;
    /* Ajusta a margem superior */
}


.content {
    display: flex;
    /* Flexível para alinhar imagem e balão de fala */
    align-items: flex-start;
    /* Alinha os itens ao topo */
}

.speech-bubble {
    margin-left: 10px;
    /* Espaço entre a imagem e o balão de fala */
}

.draggable-letter {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.placeholder {
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
}

.filled {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
}

/* Estilo para a barra de progresso */
/* Estilo para a barra de progresso */

.progress-bar-container {
    position: relative;
    width: 100%;
    /* Largura total do contêiner */
    height: 20px;
    background-color: #e0e0e0;
    /* Cor de fundo da barra de progresso */
    margin-top: 20px;
    border-radius: 15px;
    /* Adiciona bordas arredondadas ao contêiner */
    overflow: hidden;
    /* Oculta qualquer conteúdo que ultrapasse os limites do contêiner */
}

.progress-bar-container {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    /* Cor padrão para a barra de progresso */
    border-radius: 15px;
    overflow: hidden;
    width: 0%;
    /* Inicialmente, a largura é 0% */
    transition: width 0.3s ease;
    /* Adiciona transição suave */
}

.motivation-container {
    text-align: center;
    margin-top: 20px;
}

.motivation-message {
    font-size: 18px;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    display: none;
}

.motivation-message.show {
    display: block;
}

.motivation-message.correct {
    background-color: #d4edda;
    color: #155724;
}

.motivation-message.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

.end-message {
    display: none;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.end-message.show {
    display: block;
}

#restart-button {
    background-color: #4CAF50;
    /* Cor de fundo verde */
    border: none;
    color: white;
    /* Texto branco */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#restart-button:hover {
    background-color: #45a049;
    /* Cor de fundo verde mais escuro ao passar o mouse */
}

#restart-button:active {
    transform: scale(0.98);
    /* Efeito de pressionar */
}

#restart-button:disabled {
    background-color: #cccccc;
    /* Cor de fundo cinza quando desativado */
    cursor: not-allowed;
}

.small-icon {
    width: 20px;
    height: 20px;

}

.check-button {
    background-color: #45a049;
    color: #fff;

}

.answer-slot {
    width: 50px;
    /* Defina a largura desejada */
    height: 50px;
    /* Defina a altura desejada */
    border: 1px dashed #ccc;
    /* Estilo de borda para slots */
    display: inline-block;
    margin: 5px;
    /* Espaçamento entre os slots */
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    /* Centraliza verticalmente o texto */
}

.alphabet-button {
    width: 50px;
    /* Defina a largura desejada */
    height: 50px;
    /* Defina a altura desejada */
    border: 1px solid #333;
    /* Borda para as letras */
    display: inline-block;
    margin: 5px;
    /* Espaçamento entre as letras */
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    /* Centraliza verticalmente o texto */
    cursor: grab;
    /* Muda o cursor para indicar que é arrastável */
}

.alphabet-button:active {
    cursor: grabbing;
    /* Muda o cursor quando o botão está sendo arrastado */
}

.answer-slot.filled {
    background-color: #e0ffe0;
    /* Cor de fundo quando preenchido */
}

.end-message.show,
.final-score.show {
    font-size: 24px;
    font-weight: bold;
    color: green;
    text-align: center;
    margin-top: 20px;
}

#restart-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #45a049;
}

/* Estilo para o Modal */
/* Estilos básicos do modal */
.modal {
display: none; /* Inicialmente escondido */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.4); /* Fundo escurecido */
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 500px;
text-align: center;
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.restart-button {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
}

.restart-button:hover {
background-color: #45a049;
}

